@page "/components/timepicker"
@page "/components/timepicker/overview"
@layout ComponentDemoLayout

<PageSection Title="Overview">
    <DemoSection Title="Basic Usage" Description="TimePicker allows selection of a time value from a dropdown." Code="@_basicCode">
        <div class="demo-row">
            <SunfishTimePicker @bind-Value="_time" />
            <span>Selected: @_time?.ToString()</span>
        </div>
    </DemoSection>
</PageSection>

@code {
    private TimeOnly? _time = TimeOnly.FromDateTime(DateTime.Now);

    private const string _basicCode =
        "<SunfishTimePicker @bind-Value=\"_time\" />";
}
